body {
  font-family: sans-serif;
  background-color: #121212;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}
#hero {
  margin-top: 20px;
}

#heroImage {
  max-width: 300px;
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.container {
  padding: 20px;
}

canvas {
  max-width: 100%;
  border: 2px solid #fff;
  margin-top: 20px;
}

#scoreContainer {
  font-size: 1.5em;
  margin-top: 20px;
  font-weight: bold;
}
